$mat-brandred: (
  50 : #ffe6eb,
  100 : #ffc0cc,
  200 : #ff96aa,
  300 : #ff6c88,
  400 : #ff4d6f,
  500 : #ff2d55,
  600 : #ff284e,
  700 : #ff2244,
  800 : #ff1c3b,
  900 : #ff112a,
  A100 : #ffffff,
  A200 : #fff8f9,
  A400 : #ffc5ca,
  A700 : #ffacb3,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

