$mat-brandblue: (
  50 : #eaf6fe,
  100 : #cae9fd,
  200 : #a7dafc,
  300 : #83cbfb,
  400 : #69bffa,
  500 : #4eb4f9,
  600 : #47adf8,
  700 : #3da4f7,
  800 : #359cf6,
  900 : #258cf5,
  A100 : #ffffff,
  A200 : #fcfdff,
  A400 : #c9e2ff,
  A700 : #afd5ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

