/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import the custom theme
@import "theme.scss";

// specify theme class eg: <body class="my-theme"> ... </body>
.my-theme {
  
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($my-theme);
}


body {
  background-color: #313131;
  color: #e8e8e8;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  height: 100%;
}

.app-footer {
  color: rgba(174, 219, 250, 0.8);
  position:absolute;
  bottom:0px !important;
  background-color: rgba(33, 150, 243, .2);
  width: 100%;
  height: 5em;
  margin: 0px auto;
  padding-left: 80px;
  padding-right: 80px;
}

mat-grid-list {
  margin-top: 32px;
  margin-left: 64px;
  padding-left: 16px;
  margin-right: 64px;
  padding-right: 80px;
}

// for toolbar to put an element onto the right side
.fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
.toolbar-right-space {
  margin-right: 64px;
}



