// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$my-theme-primary: mat-palette($mat-blue, 500, 300, 900);
$my-theme-accent: mat-palette($mat-light-green, 200, 900);
$my-theme-warn: mat-palette($mat-deep-orange, 500, A100, 900);

$my-theme: mat-dark-theme(
  $my-theme-primary,
  $my-theme-accent,
  $my-theme-warn
)
