/*
   ***          BRAND COLOURS           ***
   ========================================
*/
//PRIMARY
$brand-blue: #4EB4F9;
$brand-red: #FF2D55;
$brand-silver: #B0B8B9;

// SECONDARY
$success: #3dc679;
$warning: #EE7F00;
$error: #c40724;
$information: #43BCCE;

// CONTRAST
$white: #fff;
$darkest-grey: #0e0e0e;

// ILLUSTRATVIE VARIATIONS
$illu-silver: #EFEFF4;
$illu-dark-grey: #313131;
$illu-light-blue: #AEDEFF;
$illu-light-red: #FF9CAF;
$illu-light-metal: #7495B2;
$illu-heavy-metal: #2b3d4d;

// AT LEAST OFTEN USED ILLU VARIATIONS
$illu-deep-orange: #FF5916;
$illu-dark-orange: #8F4800;
$illu-dark-blue: #003B63;
$illu-dark-green: #006332;


