
$image-home-sm: url('../assets/images/kendall-henderson-43316_small.jpg');
$image-home-md: url('../assets/images/kendall-henderson-43316_medium.jpg');
$image-home-xl: url('../assets/images/kendall-henderson-43316_xlarge.jpg');
$image-home-illu: url('/assets/images/geometrized_svg.svg');
