@import 'colors';
@import 'images';

@mixin immaterial-borders-radius20 {
  border: 3px solid $darkest-grey;
  border-radius: 20px;
  mask-image: url('https://www.transparenttextures.com/patterns/football-no-lines.png');
  $font-family: 'Cabin Sketch';
  color: black;
}
@mixin immaterial-borders-radius0 {
  border: 3px solid $darkest-grey;
  border-radius: 20px;
  mask-image: url('https://www.transparenttextures.com/patterns/football-no-lines.png');
  $font-family: 'Cabin Sketch';
  color: black;
}

@mixin immaterial-sketchy-border {
  $font-family: 'Cabin Sketch';
    border: 2px solid #aaa;
    border-image: url('https://raw.githubusercontent.com/kiswa/WireFrame/master/noise.png') 2 stretch;
    box-shadow: none;
    color: black;
}

@mixin image-fill-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin picture-placeholder {
  background-image: url('/assets/images/xwireframe.png');
  background-size: fill;
  background-size: 100% 100%;
  background-position: center center;
  border: 2px solid #aaa;
  border-image: url('https://raw.githubusercontent.com/kiswa/WireFrame/master/noise.png') 2 stretch;
  box-shadow: none;
}

/** 
 * Picture Ratio call - arguments: 
 *   -     width (without %)
 *   -     ratio width (e.g. 16 from 16:9)
 *   -     ratio height (e.g. 9 from 16:9)
 */
@mixin pictureRatio ($width, $ratio-width, $ratio-height) {
  width: $width * 1%;
  padding-bottom: $width * ($ratio-height / $ratio-width) * 1%;
}

